form {
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin: 0 20px 7rem 20px;
}

.formInput {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.linha{
    margin-bottom: 2rem;
}

input {
    
    border: 1px solid rgb(185, 185, 185);
}

.primeira {
    display: flex;
    justify-content: space-between;
}

.primeira select {
    border: 0;
    font-size: 1.3rem;
}

.primeira input[type="number"]{
    color: gray;
    border: 0;
    text-align: right;
    font-size: 1.1em;
}

select {
    margin-top: 1rem;
    height: 2rem;
    color: gray;
}

option {
    border: 0;
}


.primeira, .terceira, .quarta, .quinta {
    align-items: center;
}

.segunda {
    text-align: start;
}

.segunda label {
    color: gray;
}
.segunda input[type="text"]{
   
    height: 2rem;
    color: gray;
    margin-top: 0.5rem;
    width: 100%;
}

.meios input[type="text"]{
    height: 2rem;
    color: gray;
    margin-top: 0.5rem;
}

.terceira{
    justify-content: space-around;
    display: flex;
    align-items: center
    ;
}

.quarta{
    justify-content: space-between;
    align-items: center;
    margin-top: -2em;
}

.quarta select {
    border: 0;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.quarta label{
    color: gray;
}

.quarta input[type="date"]{
    color: gray;
    border: 0;
    text-align:end ;
}

.quinta label{
    color: gray;
}

.select-size  input{
    display: none;
  }
  
  .terceira label {
    display: inline-block;
    height: 40px;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 3em;
    cursor: pointer;
    border: 1px solid #719f7f;
    color: #719f7f;
    font-size: 0.8em;
    padding: 0 0.4em;
    margin: 0 3px;
  }
  
  
  .terceira #dinheiro:checked ~ label[for="dinheiro"],
  .terceira #credito:checked ~ label[for="credito"],
  .terceira #debito:checked ~ label[for="debito"],
  .terceira #outros:checked ~ label[for="outros"] {
    background: #719f7f;
    color: #ffffff;
    border: 0;
  }

  .botao-add{
      background-color: #b6cfc0;
      border: 0;
      color: white;
      padding: 0.6rem 3rem;
  }

  .botao-clear{
    background-color: #af5e4c;
    border: 0;
    color: white;
    padding: 0.6rem 3rem;
  }

  input[type="submit"]:hover{
    cursor: pointer;
  }

  .conversao {
      margin-top: -1.5em;
      margin-bottom: 2em;
      color: gray;
      font-size: 0.8em;
      text-align: left;
  }

  @media only screen and (min-width: 425px) {
    .terceira label {
        height: 40px;
        font-size: 0.9em;
        padding: 0 0.8em;
        margin: 0 3px;
      }
  }

  @media only screen and (min-width: 768px) {
    .terceira label {
        height: 60px;
        font-size: 1.5em;
        padding: 0 0.8em 0.4em 0.8em;
        margin: 0 3px;
      }

      .quarta {
          display: flex;
      }
  }

  @media only screen and (min-width: 1024px) {
        .formInput {
            width: 250px;
        }

        .quarta {
            display: block;
        }

        .terceira label {
           
            height: 40px;
            text-align: center;
            border: 1px solid #ddd;
            line-height: 3em;
            cursor: pointer;
            border: 1px solid #719f7f;
            color: #719f7f;
            font-size: 0.8em;
            padding: 0 0.4em;
            margin: 0 3px;
          }
  }